.button {
  background-color: transparent;
  border: none;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  border-radius: 25px;
  font-size: 16px;
  color: #3e6ff0;
  margin: 0.5rem 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  @media screen and(min-width: 767px) {
    font-size: 25px;
    padding: 1rem 2rem;
  }
}
