@import "../../../../index.scss";
.announcement {
  color: #385cb0;
  font-family: Ebrima;
  font-size: 25px;
  width: 100%;
  margin-bottom: 50px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "image"
    "user"
    "description ";
  h2 {
    color: #243b70;
    font-size: 36px;
    margin: 30px 0px;
  }
  h3 {
    color: #243b70;
    font-size: 36px;
    margin: 30px 0px;
  }
  button {
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(to left, #3e6ff0, #fff);
    padding: 25px;
  }
  a {
    text-decoration: none;
    &:visited {
      text-decoration: none;
      color: #385cb0;
    }
    &__contact {
      img {
        width: 50px;
      }
    }
  }

  @media screen and(min-width: 767px) {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    grid-template-columns: 25% 25% 50%;
    grid-template-areas:
      "image image user"
      "image image user"
      "description description description";
  }
  &__image {
    grid-area: image;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__contactContainer {
    grid-area: user;
    align-self: center;
  }
  &__contact {
    top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__details {
    grid-area: description;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
  }
}
