@import "../../variables.scss";
.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
  width: 90%;
  @media screen and(min-width: 1024px) {
    width: 1000px;
    padding: 0;
  }
}
.label {
  position: relative;
}
.error {
  position: absolute;
  left: 0;
  right: 0;
  top: -8px;
  font-size: 12px;
  color: red;
  font-weight: bold;
}
.searchFilter {
  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    @media screen and(min-width: 1024px) {
      height: 50px;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media screen and(min-width: 767px) {
      flex-direction: row;
    }
    & > label {
      width: 100%;
      margin-bottom: 1rem;
      @media screen and(min-width: 767px) {
        margin-bottom: 0;
      }
      & > input,
      & > select {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 0 1rem;
        border-radius: 15px;
        box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
        font-size: 16px;
        border: none;
        color: #3e6ff0;
        background: linear-gradient(
          108.1deg,
          rgba(255, 255, 255, 0.4) 12.41%,
          rgba(254, 254, 254, 0.1) 88.76%
        );
        @media screen and(min-width: 767px) {
          width: 180px;
          height: 50px;
          border-radius: 25px;
          padding: 0.5rem 1rem;
        }
        @media screen and(min-width: 1024px) {
          width: 280px;
          height: 80px;
          border-radius: 25px;
          padding: 1rem;
          font-size: 25px;
        }
      }
      & > input::placeholder {
        color: #3e6ff0;
        font-size: 16px;
        @media screen and(min-width: 1024px) {
          font-size: 25px;
        }
      }
    }
    & > button {
      box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
    }
  }
  &__button {
    border: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 16px;
    background: linear-gradient(
      108.1deg,
      rgba(255, 255, 255, 0.4) 12.41%,
      rgba(254, 254, 254, 0.1) 88.76%
    );
    @media screen and(min-width: 767px) {
      margin-top: 0;
      height: 50px;
    }
    @media screen and(min-width: 1024px) {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      font-size: 25px;
      & > span {
        display: none;
      }
    }
    & > img {
      width: 25px;
      height: 25px;
      margin: 0.5rem 0.5rem 0.5rem 1rem;
      object-fit: contain;
      @media screen and(min-width: 1024px) {
        margin: 15px;
        width: 50px;
        height: 50px;
      }
    }
  }
  &__checkbox {
    display: flex;
    text-align: center;
    color: #385cb0;
    font-weight: bold;
    margin: 0.5rem 0;
    font-size: 16px;
    @media screen and(min-width: 1024px) {
      font-size: 25px;
    }
    &_active {
      color: #243b70;
    }
    & > span {
      width: 100px;
    }
    & > input {
      display: none;
    }
  }
}
