* {
  margin: 0;
}
li {
  list-style: none;
}
.allAnnouncements {
  margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
.singleAnnouncement {
  margin: 0px 90px 50px 90px;
  height: 200px;
  width: 1260px;
  border-radius: 25px;
  display: grid;
  grid-template-areas:
    "Name Rating"
    "Description SetAppointment";
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4) 0%;
  backdrop-filter: blur(25px);
}
.name {
  grid-area: Name;
  justify-self: start;
  align-self: start;
  padding-left: 30px;
  padding-top: 10px;
  font-family: Ebrima;
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;
  color: #243b70;
}
.description {
  grid-area: Description;
  justify-self: start;
  align-self: end;
  padding-left: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  font-family: Ebrima;
  font-weight: normal;
  // font-size: 25px;
  color: #385cb0;
}
.rating {
  grid-area: Rating;
  justify-self: end;
  align-self: start;
  padding-right: 30px;
  padding-top: 15px;
}
.setAppointment {
  grid-area: SetAppointment;
  justify-self: end;
  align-self: end;
  padding-right: 30px;
  padding-bottom: 15px;
}
