.navbar {
  &__logo {
    width: 100px;
  }
}
.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #243b70;
  display: block;
  margin: 4px 4px 4px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  background: transparent;
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
}

#hamburger.isActive {
  animation: smallbig 0.6s forwards;
}

@keyframes smallbig {
  0%,
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

#hamburger.isActive .line:nth-child(1),
#hamburger.isActive .line:nth-child(2),
#hamburger.isActive .line:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#hamburger.isActive .line:nth-child(2) {
  opacity: 0;
}

#hamburger.isActive .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger.isActive .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
@media screen and (max-width: 786px) {
  .menu {
    position: absolute;
    display: flex;
    left: -100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 80vh;
  }
  #hamburger.isActive + .menu {
    animation-name: showmenu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  #hamburger.isActive + .navbar {
    background-color: #333;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .navbar__Link {
    text-decoration: none;
    font-weight: bold;
  }
}
@media screen and (min-width: 786px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(8px);
  }
  .navbar {
    position: sticky;
    top: 0;
  }
  .navbar__Link {
    text-decoration: none;
    color: #243b70;
    font-weight: bold;

    &:hover {
      color: purple;
    }
  }

  #hamburger {
    display: none;
    z-index: 0;
  }
}
@keyframes showmenu {
  100% {
    left: 0%;
  }
}
