.navbar {
  &__logo {
    width: 90px;
  }
}
.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #243b70;
  display: block;
  margin: 4px 4px 4px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  background: transparent;
  border: none;
  z-index: 9999;
}

#hamburger.isActive {
  animation: smallbig 0.6s forwards;
}

@keyframes smallbig {
  0%,
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

#hamburger.isActive .line:nth-child(1),
#hamburger.isActive .line:nth-child(2),
#hamburger.isActive .line:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#hamburger.isActive .line:nth-child(2) {
  opacity: 0;
}

#hamburger.isActive .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger.isActive .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
@media screen and (max-width: 786px) {
  .navbar {
    backdrop-filter: blur(8px);
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    &__logo {
      width: 70px;
      position: relative;
      z-index: 9999;
      margin: 10px 10px;
    }
  }

  .menu {
    position: absolute;
    display: flex;
    left: -100%;
    top: 0;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100vh;
    transition: 1s;
    z-index: 999;

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 50%;
      align-items: center;
      margin-top: 100px;
    }

    &__right {
      margin-top: -30px;
      display: flex;
      align-items: center;
      height: 10%;
    }

    &.active {
      left: 0;
      transition: 1s;
    }
  }

  .navbar__Link {
    text-decoration: none;
    font-weight: bold;
    color: #243b70;
    font-size: 25px;
  }

  #hamburger {
    margin: 10px 10px;
  }
}

@media screen and (min-width: 786px) {
  .navbar {
    position: sticky;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    top: 0;
    backdrop-filter: blur(8px);
    display: flex;
    height: 120px;
    z-index: 1;

    &__logo {
      margin: 10px 20px;
    }
  }

  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(8px);
  }

  .menu__left {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 10px 10px;
  }

  .menu__right {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 20px;
    flex-direction: row-reverse;
  }

  .navbar__Link {
    text-decoration: none;
    color: #243b70;
    font-weight: bold;
    font-size: 25px;
    margin-left: 40px;

    &:hover {
      color: #800080;
    }
  }

  #hamburger {
    display: none;
    z-index: 0;
  }
}
