.section__description {
  font-size: 25px;
  color: #385cb0;
  width: 60%;
  height: 800px;
  padding: 0 10px;
  position: relative;
}

.description__title {
  color: #243b70;
  font-size: 35px;
}

.description__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;

  &_bold {
    color: #243b70;
  }
}

@media (max-width: 786px) {
  .section__description {
    width: 100%;
    height: 650px;
    margin: 0;
    align-items: center;
    justify-content: center;
    background: url("../../../../assets/image/encourages/encourage_image2.png")
      no-repeat;
    background-size: cover;
    margin-top: 20px;
  }

  .description__text {
    font-size: 15px;
    margin-top: 55px;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 3px 4px #000;
    font-weight: bold;

    &_bold {
      color: #fff;
    }
  }

  .description__title {
    font-size: 25px;
    text-align: center;
    color: #fff;
    margin-top: 30px;
    text-shadow: 1px 2px 1px #000;
  }
}
