.section__right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.section__left {
  display: flex;
  justify-content: space-between;
}

.description {
  width: 600px;
  margin-top: 140px;
  margin-left: 170px;
  color: #243b70;

  &__title {
    margin-bottom: 50px;
    font-size: 30px;
  }
}

.description__text {
  font-size: 20px;
  line-height: 30px;
}

.section__image_right {
  transform: translateY(-90px);
}

.section__image_left {
  position: relative;
  left: 0;
}
