.wrapper {
  display: flex;
}

.wrapper__right_side {
  display: flex;
  flex-direction: row;

  .section__image {
    width: 55%;
    height: 650px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.wrapper__left_side {
  display: flex;
  flex-direction: row-reverse;

  .section__image {
    position: absolute;
    left: 0;
  }
}

@media (max-width: 768px) {
  .wrapper__right_side {
    align-items: center;
    justify-content: center;

    .section__image {
      width: 195%;
      height: 75%;
    }
  }

  .wrapper__left_side .section__image {
    width: 30%;
    height: 30%;
    margin-top: 100px;
    display: none;
    position: static;
  }
}
