@import "./variables.scss";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 200vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

.swiper-button-next,
.swiper-button-prev {
  transform: scale(0.6);
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  box-shadow: -0.5px 4px 4px rgba(0, 0, 0, 0.5);
  @media screen and (min-width: 1023px) {
    padding: 30px;
  }
  @media screen and (min-width: 1439px) {
    transform: scale(0.6) translateY(-60px);
    padding: 70px;
  }
}
