$menu-desktop-font: 30px;
$header-desktop-font: 36px;
$text-desktop-font: 25px;
$tiny-desktop-font: 20px;

$menu-tablet-font: 24px;
$header-tablet-font: 30px;
$text-tablet-font: 19px;
$tiny-tablet-font: 14px;

$white-color: #ffffff;
$black-color: #000000;
$primary-color: #243b70;
$secondary-color: #385cb0;
$yellow-color: #fdc763;
$orange-color: #f08c3e;
