.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  &__auth {
    width: 90%;
    align-items: stretch;
    @media screen and(min-width: 767px) {
      width: 400px;
    }
  }
  &__error {
    font-size: 12px;
    font-weight: bold;
    color: red;
    margin-left: 1rem;
    height: 1rem;
    margin-bottom: 0.5rem;
    @media screen and(min-width: 767px) {
      font-size: 16px;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }
  &__separator {
    width: 80%;
    margin: 0 auto;
    height: 1px;
    border-bottom: 1px solid #3e6ff0;
    margin: 0.75rem auto;
    @media screen and(min-width: 767px) {
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
  }
}
