.services_section {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
  @media screen and(min-width:767px) {
    margin: 100px 0 150px;
  }
  .service_item {
    @media screen and(min-width: 767px) {
      margin-right: 40px;
    }
    &:last-child {
      margin-right: 0;
    }
    @media screen and (max-width: 767px) {
      width: 100px;
    }
  }
}
