.services_section {
  padding: 0 10px;
  margin: 100px 0 150px;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service_item {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
    @media screen and (max-width: 767px) {
      width: 100px;
    }
  }
}
